<?xml version="1.0"?>
 
<config>
   <modules>
      <NewHavenSoftware_CMSAPI>
         <version>9.0.1.9</version>
      </NewHavenSoftware_CMSAPI>
   </modules>
   <global>
      <models>
         <cmsapi>
             <class>NewHavenSoftware_CMSAPI_Model</class>
         </cmsapi>
         <catalog>
             <rewrite>
                 <product_api_v2>NewHavenSoftware_CMSAPI_Model_Catalog_Product_Api_V2</product_api_v2>
             </rewrite>
         </catalog>
        <sales>
          <rewrite>
            <order_api_v2>NewHavenSoftware_CMSAPI_Model_Sales_Order_Api_V2</order_api_v2>
          </rewrite>
        </sales>
      </models>
      <helpers>
        <cmsapi>
          <class>NewHavenSoftware_CMSAPI_Helper</class>
        </cmsapi>
      </helpers>
   </global>
</config>