<config> <!-- see http://www.magentocommerce.com/wiki/5_-_modules_and_development/admin/xml_structure_for_admin_configurations -->
  <sections>
    <cmsapi translate="label" module="api">
      <label>NewHaven Software Settings</label>
      <tab>service</tab>
      <frontend_type>text</frontend_type>
      <sort_order>101</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <config translate="label">
          <label>General Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <customfields translate="label">
              <label>Custom Fields</label>
              <frontend_type>text</frontend_type>
              <comment>A comma delimited list of custom fields</comment>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </customfields>
          </fields>
        </config>
      </groups>
    </cmsapi>
  </sections>
</config>